body {
    background-color: white;
    color: rgb(15, 20, 25);
}

#pfp{
    width: 100px;
    border-radius: 50%;
}

ul {
    list-style-type: none;
}

#navegacao{
    
    a {
        color: rgb(15, 20, 25);
        text-decoration: none;
        padding: 10px;
        border-radius: 40px;
        line-height: 2;
        
    }

    a:hover {
        background-color: rgba(15, 25, 20, 0.1);
    }
}
.username, #info{
    color: rgba(15, 25, 20, 0.6);
}

#estatisticas{

    a {
        color:  rgb(83, 100, 113);
        text-decoration: none;
        padding: 10px;
        line-height: 2;
        
    }

    a:hover {
        text-decoration: underline;
    }
}

#estatisticas strong {
    color: black;
    font-weight: bold;
}

#estatisticas a {
    color: rgb(83, 100, 113);
}

#publicacoes{
    
    a {
        color: rgba(15, 25, 20, 0.6);
        text-decoration: none;
        padding: 10px;
        border-radius: 40px;
        line-height: 2;
        
    }

    a:hover {
        background-color: rgba(15, 25, 20, 0.1);
        
    }
    
}
.actions{

    a{
        color:rgb(83, 100, 113);
        text-decoration: none;
    }

    #reply:hover , #share:hover{
        color:rgba(29, 155, 240, 1);
    }

    #retzeet:hover{
        color:rgba(0, 186, 124, 1);
    }
    #like:hover{
        color:rgba(249, 24, 128, 1);
    }



}
