*{
    font-size: large;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgb(15, 20, 25);
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
    padding: 10px;
    margin-left:5PX;
    margin-right:5PX;
        
}

a{
    font-weight: bold;
}

ul {
    list-style-type: none;

}

dialog {
    width: 40%;
    height: 40%;
    border: none;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
   
    outline: none;
}

#header-modal{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#fechar-modal{
    padding: 10px;
    border:none;
    outline: none;
    background-color: white;

}
#modal-enviar{
    background-color: rgba(29, 155, 240, 1);
    border-radius: 40px;
    color:white;
    border: none;
    padding: 5px;
    width: 80px;
    margin-left: 10px;
}
#modal-enviar:disabled{
    background-color: rgba(88, 178, 238, 0.8);

}
.formulario-envio{
    padding: 20px;
    padding-bottom:10px ;
    width: 100%;
    display: flex;
    gap:10px;
    border-bottom: 2px solid  rgb(214, 212, 212);
}
textarea{
    width: 60%;
    height: 50px;
    border: none;
}
textarea:focus{
    outline: none;
}
#escrever-tzeet{
    margin-top:40px;
    display: flex;
    flex-direction:column;
    width: 95%;
    padding-left: 5px;
    
}
#multimidia-enviar{
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    
    
}
#all{
    display: flex;
    flex-direction: column;
    
    width: 100%;
}
.multimidia{
    display: flex;
    gap: 10px;
}
.multimidia a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.725);
    width: 35px;
}

#addimg:hover {
    background-color: rgba(29, 155, 240, 0.1);
    border-radius: 50px;
}

#addgif:hover {
    background-color: rgba(29, 155, 240, 0.1);
    border-radius: 50px;
}
#emoji:hover {
    background-color: rgba(29, 155, 240, 0.1);
    border-radius: 50px;
}
#addpoll:hover {
    background-color: rgba(29, 155, 240, 0.1);
    border-radius: 50px;
}
#date:hover {
    background-color: rgba(29, 155, 240, 0.1);
    border-radius: 50px;
}
#location:hover {
    background-color: rgba(29, 155, 240, 0.1);
    border-radius: 50px;
}
#pfp{
    width: 64px;
    border-radius: 50%;
}

#config{
    text-decoration: none;
    color: rgba(29, 155, 240, 1);
}
#config:hover{
    background-color: rgba(29, 155, 240, 0.1);
    border-radius: 40px;
    padding: 10px;
}
#enviar{
    background-color: rgba(29, 155, 240, 1);
    border-radius: 40px;
    color: white;
    border: none;
    padding: 5px;
    width: 80px;
    margin-left: 10px;
}

#enviar:disabled{
    background-color: rgba(88, 178, 238, 0.8);
}

#add{
    color: rgba(0, 0, 0, 0.725);
}
.replyconfig{
    border-bottom: 2px solid  rgb(214, 212, 212);
    padding-bottom: 20px;
}













.navegacao{
    display: flex;
    flex-direction: column;
    a {
        
        display: flex;
        align-items: center;
        gap:10px;
        color: rgb(15, 20, 25);
        text-decoration: none;
        padding: 10px;
        border-radius: 40px;
        line-height: 2;
       

        
    }

    a:hover {
        background-color: rgba(15, 25, 20, 0.1);
    }
}
.username, #info{
    color: rgba(15, 25, 20, 0.6);
}
#tzeetar{
    
    border:none;
    text-decoration: none;
    background-color: rgba(29, 155, 240, 1);
    border-radius: 40px;
    height:40px;
    width: 150px;
    color:white;
    font-style: bold;
    padding-bottom: 5px;
    margin-left: 50px;
   
}
#tzeetar:hover{
    background-color: rgba(32, 93, 186, 0.8);
}


main{
    border-left: 2px solid  rgb(214, 212, 212);
    border-right: 2px solid  rgb(214, 212, 212);
    padding: 2px;
    margin-right: 80px;
    width: 100%;
}

.tzeet{
    
    gap: 20px;
    padding: 20px;
    border-bottom: 2px solid  rgb(214, 212, 212);
}

.tzeet:hover{
    background-color: rgba(0, 0, 0, 0.03) ;


}

.actions{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    a{  
        
        color:rgb(83, 100, 113);
        text-decoration: none;
        border-radius: 40px;
        padding: 5px;
        
    }
    span{
        color:rgb(83, 100, 113);
    }
}

#share:hover{
    color:rgba(29, 155, 240, 1);
    background-color: rgba(29, 155, 240, 0.1);  
}

.reply:hover #reply{
    color:rgba(29,155,240, 1);
    background-color: rgba(29,155,240, 0.1);
}
.reply:hover #numberreplies{
    color:rgba(29,155,240, 1);
}

.retzeet:hover #retzeet{
    color:rgba(0, 186, 124, 1);
    background-color: rgba(0, 186, 124, 0.1);
}
.retzeet:hover #numberretzeets{
    color:rgba(0, 186, 124, 1);
}

.like:hover #like {
    background-color: rgba(249, 24, 128, 0.1);
    color: rgba(249, 24, 128, 1);
 }
 .like:hover #numberlikes {
    color: rgba(249, 24, 128, 1);
 }
 
.name {
    font-weight: bold;
}

.tzeet-date {
    color: rgb(83, 100, 113);
    margin-left: 10px;
}

.tzeet-content {
    color: rgb(15, 20, 25);
}

.sugestoes{
    margin-left: 50px;
}

#pesquisar{
    background-color: rgb(239, 243, 244);
    border:none;
    border-radius: 40px;
    padding: 5px;
    padding-left: 15px;
    margin: 10px;
    width: 250px;
    height: 40px;

}

#searchbar{
    background-color: rgb(239, 243, 244);
    border:none;

}

 #searchbar:focus{
    border: none;
    outline: none;
 }

.talvezcurta{
    background-color: rgb(239, 243, 244);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;   
}


.sugestao{
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 40px;
    margin: 10px;
    background-color: rgb(239, 243, 244);
}

.sugestao img{
    width: 50px;
    border-radius: 50%;
}

.sugestao button{
    
    background-color:  rgba(29, 155, 240, 1);
    color:white;
    height:35px ;
    border-radius: 20px;
    border:none;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr 2fr; 
    }

    .sugestoes {
        display: none;
    }

    #profile{
        gap:100px;
    }
    .main{
        margin-left: 0px;
    }
    .text{
        display: none;
    }
    #tzeetar{
        margin-left: 30px;
        width: 40px;
    }
    .navegacao{
        
        a{
            width:35px;
        }
    }
    #publicacoes{
        display: flex;
        justify-content: space-between;
        padding:10px;
        gap: 10px;
    }
    
}

@media (min-width: 1024px) {
    .tzeetaricon{
        display: none;
    }
    .text{
        display: block;
    }
    
}
